form {
  display: inherit;
}

.paleBlueRows .tableFootStyle {
  font-size: 10px;
  font-weight: bold;
}

.paleBlueRows .tableFootStyle {
  font-size: 10px;
}

.divTableFoot {
  display: table-footer-group;
}

.save-btn {
  padding: 10px 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
}

.save-btn:hover {
  background-color: greenyellow;
}

.save-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}